*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,body{
  height: 100%;
}

body {
  background-image: url(imagem/carrinho.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

input{
  outline: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1400px;
  padding: 0 2%;
  margin: 0 auto;
}

.planilha {
  width: 700px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;

  background-color: white;
}

.planilha {
  text-align: center;
}

.planilha form input[type="text"]{
  width: 100%;
  height: 35px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 8px;
}

.planilha form input[type="text"]{
  width: 100%;
  height: 35px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 8px;
}

.planilha form input[type="submit"]{
  width: 50%;
  height: 35px;
  margin: 5px auto;
  display: block;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  background-color: rgb(147, 17, 253);
  color: #fff;
  border-radius: 5px;
}

.planilha form input[type="submit"]:hover {
  background-color: green;
}

.lista-produtos{
  width: 700px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;

  background-color: white;
}

.lista-produtos h2{
  text-align: center;
}

.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  display: block;
}

.modal-update{
  width: 700px;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

.modal-update h2{
  text-align: center;
}

.modal-update form input[type="text"]{
  
  width: 100%;
  height: 35px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  padding-left: 8px;
}

.modal-update form input[type="text"]{
  width: 100%;
  height: 35px;
  margin: 5px 0;
  border: 1px solid #ccc;
  padding-left: 8px;
}

.modal-update form input[type="submit"]{
  width: 50%;
  height: 35px;
  margin: 5px auto;
  display: block;
  cursor: pointer;
  border: 0;
  background-color: rgb(211, 132, 5);
  color: #fff;
  border-radius: 5px;
}

.modal-update form input[type="submit"]:hover {
  background-color: rgb(6, 161, 141);
}